.primary {
  width: 100%;
}
.title {
  text-align: right;
}
.trainerImage {
  width: 32px;
  border-radius: 50px;
  height: 28px;
  float: right;
  padding-top: -13px;
  padding-bottom: -13px;
  position: relative;
  top: -10px;
}
.trainerNameLabel {
  float: right;
  font-size: 16px;
  font-weight: 400;
}
.infoLabel {
  float: right;
  right: 129px;
}
.AboutInfo {
  float: right;
}
.AboutInfo2 {
  float: right;
}
.aboutDetails {
  float: right;
  text-align: right;
}
.cost {
  float: right;
}
.info {
  float: right;
  right: 7px;
}
.infoTitle {
  float: right;
  right: 129px;
}
.infoDate {
  float: right;
  right: 129px;
}
.infoAddress {
  float: right;
  right: 129px;
}
.starLike {
  color: rgb(248, 179, 6);
}
.starUnlike {
  color: white;
}
.ionFab {
  width: 39px;
  height: 47px;
}
.costLabel {
  float: right;
}
