<ion-content>
  <div class="slider">
    <ion-slides autoplay="50" loop="true" pager="true" speed="400">
      <ion-fab vertical="top" horizontal="start" slot="fixed" class="ionFab">
        <ion-fab-button color="secondary">
          <ion-icon
            name="star-outline"
            [ngClass]="home.isLiked ? 'starLike' : 'starUnlike'"
          >
          </ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-fab
        style="left: 70px;"
        vertical="top"
        horizontal="start"
        slot="fixed"
      >
        <ion-fab-button color="secondary">
          <ion-icon name="share"> </ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-fab
        vertical="top"
        horizontal="end"
        slot="fixed"
        router-direction="forward"
      >
        <ion-fab-button color="secondary">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-slide>
        <img [src]="home.img[1]" />
      </ion-slide>
      <ion-slide>
        <img [src]="home.img[2]" />
      </ion-slide>
      <ion-slide>
        <img [src]="home.img[3]" />
      </ion-slide>
    </ion-slides>
  </div>
  <ion-card>
    <ion-card-content>
      <ion-card-title class="info">
        <ion-icon name="train"></ion-icon>
        {{ home.interest }}
      </ion-card-title>
      <br />
      <br />
      <ion-label class="infoTitle">{{ home.title }}</ion-label>
      <br />
      <div class="infoDate">
        <ion-label>{{ home.date }}</ion-label>
        <ion-icon name="calendar"></ion-icon>
      </div>
      <br />
      <div class="infoAddress">
        <ion-label>{{ home.address }}</ion-label>
        <ion-icon name="pin"></ion-icon>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-card-title>
        <img [src]="home.trainerImg" class="trainerImage" />
        <ion-label class="trainerNameLabel">{{ home.trainerName }}</ion-label>
        <br />
      </ion-card-title>
      <P class="infoLabel">{{ home.trainerInfo }}</P>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-card-title class="AboutInfo">عن الدوره</ion-card-title>
      <br />
      <p class="aboutDetails">{{ home.occasionDetail }}</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-card-title class="cost">تكلفة الدورة</ion-card-title>
      <br />
      <br />
      <ion-label class="costLabel">الحجز العادي</ion-label>
      <ion-label>{{ home.latitude }} EGP</ion-label>
      <br />
      <ion-label class="costLabel">الحجز الطويل المدي</ion-label>
      <ion-label>{{ home.longitude }} EGP</ion-label>
    </ion-card-content>
  </ion-card>
  <ion-button class="primary">قم بالحجز الأن</ion-button>
</ion-content>
